In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("./metro.csv", delimiter=';')

In [16]:
df.columns

Index(['Rang', 'Réseau', 'Station', 'Trafic', 'Correspondance_1',
       'Correspondance_2', 'Correspondance_3', 'Correspondance_4',
       'Correspondance_5', 'Ville', 'Arrondissement pour Paris'],
      dtype='object')

In [17]:
df = df[['Réseau', 'Station', 'Trafic', 'Correspondance_1',
       'Correspondance_2', 'Correspondance_3', 'Correspondance_4',
       'Correspondance_5', 'Ville', 'Arrondissement pour Paris']]

In [18]:
df = df.rename({"Arrondissement pour Paris": "arrondissement"}, axis=1)
df = df.rename(lambda c: c.lower().replace(" ", "_"), axis=1)
df = df.apply(lambda x: x.astype(str).str.title())
df

,réseau,station,trafic,correspondance_1,correspondance_2,correspondance_3,correspondance_4,correspondance_5,ville,arrondissement
0,Métro,Republique,11079708,3,5,8,9.0,11.0,Paris,11.0
1,Métro,La Defense,9256802,1,Nan,Nan,Nan,Nan,Puteaux,Nan
2,Métro,Hotel De Ville,7251729,1,11,Nan,Nan,Nan,Paris,4.0
3,Métro,Villejuif-Louis Aragon,5218070,7,Nan,Nan,Nan,Nan,Villejuif,Nan
4,Métro,Palais-Royal,4822599,1,7,Nan,Nan,Nan,Paris,1.0
...,...,...,...,...,...,...,...,...,...,...
366,Rer,La Varenne-Chennevieres,1552324,A,Nan,Nan,Nan,Nan,Saint-Maur Des Fossés,Nan
367,Rer,Gentilly,1521999,B,Nan,Nan,Nan,Nan,Gentilly,Nan
368,Rer,Le Vesinet-Le Pecq,1436318,A,Nan,Nan,Nan,Nan,Le Vésinet,Nan
369,Rer,Gif-Sur-Yvette,442255,B,Nan,Nan,Nan,Nan,Gif Sur Yvette,Nan
370,Rer,Massy-Verrieres,394292,B,Nan,Nan,Nan,Nan,Massy,Nan

In [19]:
df = df.astype({'arrondissement': float, "correspondance_4": float, "correspondance_5": float})

In [21]:
from sqlalchemy import create_engine    

engine = create_engine('sqlite://', echo=False)
df.to_sql(name="metro", con=engine, index=False)

with engine.connect() as conn:
    with open("metro.sql", "w") as f:
        for line in conn.connection.iterdump():
            f.write(line)
            f.write('\n')